:root {
	--world-size: 30;
	--sky: '1';
	--cloud: '2';
	--ground: '3';
	--rock: '4';
	--timber: '5';
	--leafs: '6';
}

.container {
	display: flex;
	justify-content: flex-start;
	/* height: 100%;
  display: grid;
  grid-template-columns: 1fr 100vh 1fr 15vw; */
}

.world {
	/* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(var(--world-size), auto);
	grid-template-rows: repeat(var(--world-size), auto);
	grid-gap: 0;
	grid-column: 2 / 2;
}

.tools {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
}

.tools img {
	width: 3vw;
	height: 3vh;
	cursor: pointer;
}

.world div {
	width: 3vw;
	height: 3vh;
}

[data-tile='1'] {
	background-color: rgb(50, 157, 245);
}
[data-tile='2'] {
	background-color: white;
}

[data-tile='3'] {
	background-color: rgba(158, 123, 46, 0.822);
}

[data-tile='4'] {
	background-color: rgba(170, 166, 162, 0.822);
}

[data-tile='5'] {
	background-color: rgba(63, 41, 7, 0.945);
}
[data-tile='6'] {
	background-color: rgba(27, 182, 48, 0.822);
}

[data-tile='axe'] {
	background-image: url('./img/PinClipart.com_axe-clip-art_5397833.png');
}

[data-type='pickaxe'] {
	background-image: url('./img/PinClipart.com_minecraft-birthday-clipart_751039.png');
}

[data-type='shovel'] {
	background-image: url('./img/PinClipart.com_shovel-clip-art_3735821.png');
}
