:root {
  --world-size: 30;
  --sky: '1';
  --cloud: '2';
  --ground: '3';
  --rock: '4';
  --timber: '5';
  --leafs: '6';
}

.container {
  display: flex;
  justify-content: flex-start;
  /* height: 100%;
  display: grid;
  grid-template-columns: 1fr 100vh 1fr 15vw; */
}

.world {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(var(--world-size), auto);
  grid-template-rows: repeat(var(--world-size), auto);
  grid-gap: 0;
  grid-column: 2 / 2;
}

.tools {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.tools img {
  width: 3vw;
  height: 3vh;
  cursor: pointer;
}

.world div {
  width: 3vw;
  height: 3vh;
}

[data-tile='1'] {
  background-color: rgb(50, 157, 245);
}
[data-tile='2'] {
  background-color: white;
}

[data-tile='3'] {
  background-image: url('ground.png');
}

[data-tile='4'] {
  background-image: url('rock.png');
}

[data-tile='5'] {
  background-image: url('timber.png');
}
[data-tile='6'] {
  background-image: url('leaf.png');
}

[data-type='axe'] {
  background-image: ('./images/axe.png');
}

[data-type='pickaxe'] {
  background-image: url('./images/pickaxe.png');
}

[data-type='shovel'] {
  background-image: url('./images/shovel.png');
}
